@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Coś poszło nie tak...</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>TO JEST BŁĄD! :O</h3>
<p>
   Skoro widzisz ten komunikat oznacza to że powstał <strong>błąd</strong> na stronie
</p>
<p>
   Zwykle wystarczy <strong>uruchomić strone jeszcze raz</strong>
</p>