/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #fff;
}

    table th {
        background-color: #B8DBFD;
        color: #333;
        font-weight: bold;
    }

    table th, table td {
        padding: 5px;
        border: 1px solid #ccc;
    }

    table, table table td {
        border: 0 solid #ccc;
    }

.style1 {
    background-color: lightgoldenrodyellow;
}

.style2 {
    background-color: lightgreen;
}

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }
