@model Magisterka.Models.Baza

@{
    ViewData["Title"] = "Edycja";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Edycja</title>
</head>
<body>

    <h4>Pomiar "@Html.DisplayFor(model => model.Nazwa)" z dnia @Html.DisplayFor(model => model.DATA)</h4>
    <hr />
    <div class="row">
        <form asp-action="Edit">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DATA" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Nazwa" />
                <div class="form-group">
                    <label asp-for="Opis" class="control-label"></label>
                    <input asp-for="Opis" class="form-control" />
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
            </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h5><b>Obliczenia długości poziomego wymiennika ciepła wg. Rubika</b></h5>
            <div class="form-group">
                <label asp-for="RQg" class="control-label"></label>
                <input asp-for="RQg" class="form-control" />
                <span asp-validation-for="RQg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFi" class="control-label"></label>
                <input asp-for="RFi" class="form-control" />
                <span asp-validation-for="RFi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RQ0" class="control-label"></label>
                <input asp-for="RQ0" class="form-control" />
                <span asp-validation-for="RQ0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RDz" class="control-label"></label>
                <input asp-for="RDz" class="form-control" />
                <span asp-validation-for="RDz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rtinf" class="control-label"></label>
                <input asp-for="Rtinf" class="form-control" />
                <span asp-validation-for="Rtinf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rt" class="control-label"></label>
                <input asp-for="Rt" class="form-control" />
                <span asp-validation-for="Rt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RL" class="control-label"></label>
                <input asp-for="RL" class="form-control" />
                <span asp-validation-for="RL" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h5><b>Obliczenia długości poziomego wymiennika ciepła wg. Kopcia</b></h5>
            <div class="form-group">
                <label asp-for="KQc" class="control-label"></label>
                <input asp-for="KQc" class="form-control" />
                <span asp-validation-for="KQc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KCOP" class="control-label"></label>
                <input asp-for="KCOP" class="form-control" />
                <span asp-validation-for="KCOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KQ0" class="control-label"></label>
                <input asp-for="KQ0" class="form-control" />
                <span asp-validation-for="KQ0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KH" class="control-label"></label>
                <input asp-for="KH" class="form-control" />
                <span asp-validation-for="KH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KZ" class="control-label"></label>
                <input asp-for="KZ" class="form-control" />
                <span asp-validation-for="KZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KB" class="control-label"></label>
                <input asp-for="KB" class="form-control" />
                <span asp-validation-for="KB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KTgr" class="control-label"></label>
                <input asp-for="KTgr" class="form-control" />
                <span asp-validation-for="KTgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT" class="control-label"></label>
                <input asp-for="DT" class="form-control" />
                <span asp-validation-for="DT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KTgm" class="control-label"></label>
                <input asp-for="KTgm" class="form-control" />
                <span asp-validation-for="KTgm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ktp" class="control-label"></label>
                <input asp-for="Ktp" class="form-control" />
                <span asp-validation-for="Ktp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kalfag" class="control-label"></label>
                <input asp-for="Kalfag" class="form-control" />
                <span asp-validation-for="Kalfag" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h5><b> &nbsp </br> &nbsp</b></h5>
            <div class="form-group">
                <label asp-for="Kalfap" class="control-label"></label>
                <input asp-for="Kalfap" class="form-control" />
                <span asp-validation-for="Kalfap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KAgr" class="control-label"></label>
                <input asp-for="KAgr" class="form-control" />
                <span asp-validation-for="KAgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KAr" class="control-label"></label>
                <input asp-for="KAr" class="form-control" />
                <span asp-validation-for="KAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kdw" class="control-label"></label>
                <input asp-for="Kdw" class="form-control" />
                <span asp-validation-for="Kdw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kdz" class="control-label"></label>
                <input asp-for="Kdz" class="form-control" />
                <span asp-validation-for="Kdz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KK" class="control-label"></label>
                <input asp-for="KK" class="form-control" />
                <span asp-validation-for="KK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KC" class="control-label"></label>
                <input asp-for="KC" class="form-control" />
                <span asp-validation-for="KC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agr" class="control-label"></label>
                <input asp-for="Agr" class="form-control" />
                <span asp-validation-for="Agr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KqL" class="control-label"></label>
                <input asp-for="KqL" class="form-control" />
                <span asp-validation-for="KqL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kep" class="control-label"></label>
                <input asp-for="Kep" class="form-control" />
                <span asp-validation-for="Kep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kqh" class="control-label"></label>
                <input asp-for="Kqh" class="form-control" />
                <span asp-validation-for="Kqh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KLp" class="control-label"></label>
                <input asp-for="KLp" class="form-control" />
                <span asp-validation-for="KLp" class="text-danger"></span>
            </div>
        </div>
        @*

            ?????????????????????????????????????????

        *@
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h5><b>Obliczenia długości sond (pionowych) gruntowych</b></h5>
            <div class="form-group">
                <label asp-for="SQc" class="control-label"></label>
                <input asp-for="SQc" class="form-control" />
                <span asp-validation-for="SQc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SCOP" class="control-label"></label>
                <input asp-for="SCOP" class="form-control" />
                <span asp-validation-for="SCOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SQ0" class="control-label"></label>
                <input asp-for="SQ0" class="form-control" />
                <span asp-validation-for="SQ0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SQv" class="control-label"></label>
                <input asp-for="SQv" class="form-control" />
                <span asp-validation-for="SQv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SLo" class="control-label"></label>
                <input asp-for="SLo" class="form-control" />
                <span asp-validation-for="SLo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STsp" class="control-label"></label>
                <input asp-for="STsp" class="form-control" />
                <span asp-validation-for="STsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdLw" class="control-label"></label>
                <input asp-for="SdLw" class="form-control" />
                <span asp-validation-for="SdLw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SLw" class="control-label"></label>
                <input asp-for="SLw" class="form-control" />
                <span asp-validation-for="SLw" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <h4><b>Algorytm Bose-Parkera</b></h4>
            <div class="form-group">
                <label asp-for="BDz" class="control-label"></label>
                <input asp-for="BDz" class="form-control" />
                <span asp-validation-for="BDz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDw" class="control-label"></label>
                <input asp-for="BDw" class="form-control" />
                <span asp-validation-for="BDw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bn" class="control-label"></label>
                <input asp-for="Bn" class="form-control" />
                <span asp-validation-for="Bn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blambdar" class="control-label"></label>
                <input asp-for="Blambdar" class="form-control" />
                <span asp-validation-for="Blambdar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BRr" class="control-label"></label>
                <input asp-for="BRr" class="form-control" />
                <span asp-validation-for="BRr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Btp" class="control-label"></label>
                <input asp-for="Btp" class="form-control" />
                <span asp-validation-for="Btp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Btg" class="control-label"></label>
                <input asp-for="Btg" class="form-control" />
                <span asp-validation-for="Btg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BQ" class="control-label"></label>
                <input asp-for="BQ" class="form-control" />
                <span asp-validation-for="BQ" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h4><b> &nbsp</b></h4>
            <div class="form-group">
                <label asp-for="BCOP" class="control-label"></label>
                <input asp-for="BCOP" class="form-control" />
                <span asp-validation-for="BCOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BTgr" class="control-label"></label>
                <input asp-for="BTgr" class="form-control" />
                <span asp-validation-for="BTgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BRgr" class="control-label"></label>
                <input asp-for="BRgr" class="form-control" />
                <span asp-validation-for="BRgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BTgo" class="control-label"></label>
                <input asp-for="BTgo" class="form-control" />
                <span asp-validation-for="BTgo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BL" class="control-label"></label>
                <input asp-for="BL" class="form-control" />
                <span asp-validation-for="BL" class="text-danger"></span>
            </div>
        </div>

    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-default" /> |
        <a asp-action="Index">Powrót do listy</a>
    </div>
    </form>
</body>
</html>
