@model Magisterka.Models.pP
@{
    ViewData["Title"] = "Pionowy";
}

@using (Html.BeginForm("Pionowy", "Home", FormMethod.Post))
{
    <h3>@ViewData["Message"]</h3>

    <p>Obliczenia dla pionowego wymiennika ciepła.</p>
    <style>
        .style1 {
            background-color: lightgoldenrodyellow;
        }

        .style2 {
            background-color: lightgreen;
        }
    </style>
    <div class="row">
        <div class="col-md-3">
            <div id="ob4" class="style1">
                <h2>Czwarta kolumna</h2>
                <form>
                    Zapotrzebowanie na moc cieplną pompy ciepła [Qc]
                    <br>
                    <input type="text" data-val="true"
                           id="KQc" name="KQc" value=""> <br><br />
                    Zapotrzebowanie na moc cieplną pompy ciepła [Qc]
                    <br>
                    <input type="text" data-val="true"
                           id="KQc" name="KQc" value=""> <br><br />
                    Zapotrzebowanie na moc cieplną pompy ciepła [Qc]
                    <br>
                    <input type="text" data-val="true"
                           id="KQc" name="KQc" value=""> <br><br />

                </form>
                <input id="btn4" type="button" value="Oblicz" onclick="click4()" />
                <script>
                    function click4() {
                        document.getElementById("ob4").className = "style1";
                        document.getElementById("ob4").className = "style2";
                    }
                </script>

            </div>

        </div>
    </div>
    <hr />
    <div class="row">


        <input id="btn15" type="button" value="Zapisz" onclick="save3()" />
        <script>
            function save3() {

            }
        </script>


        <input id="btn16" type="button" value="Czyść" onclick="clr3()" />
        <script>
            function clr3() {
                document.getElementById("ob4").className = "style1";
            }
        </script>


        <input id="btn17" type="button" value="Wypełnij" onclick="full3()" />
        <script>
            function full3() {

            }
        </script>

    </div>
}