@model Magisterka.Models.PP
@{
    ViewData["Title"] = "Pionowy";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h3>@ViewData["Message"]</h3>
@using (Html.BeginForm("Pionowy", "Home", FormMethod.Post))
{


    <p>Obliczenia dla pionowego wymiennika ciepła.</p>
    <div class="row">
        <div class="col-md-3">
            <div id="ob4" class="@Model.STYL">
                <h2>Czwarta kolumna</h2>
                <form>
                    @* @Html.DropDownList("VALUE:", Model.LISTA); *@

                    DropDown Lista
                    <br>
                    <select asp-for="PVALUE" asp-items="Model.LISTA"></select>

                    Testowa kontrolka wynikowa
                    <br>
                    <input type="text" data-val="true"
                           id="P1" name="P1" value="@Model.PVALUE2"> <br><br />

                </form>
                <button id="btn4" type="submit" value="btn4" onclick="click4()" name="Oblicz">Oblicz</button>

            </div>

        </div>
    </div>
    <hr />



    <div class="row">


        <input id="btn15" type="button" value="Zapisz" onclick="save3()" />
        <script>
            function save3() {

            }
        </script>


        <input id="btn16" type="button" value="Czyść" onclick="clr3()" />
        @* <script>
                function clr3() {
                    document.getElementById("ob4").className = "style1";
                }
            </script>*@


        <input id="btn17" type="button" value="Wypełnij" onclick="full3()" />
        <script>
            function full3() {

            }
        </script>

    </div>
}